

.main-wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('../img/minefield.jpg');
  flex-direction: column;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.container-custom{
  height: 800px;
  width: 800px;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background-image: url('/img/jinx.webp');
  background-position: center;
  border-radius: 50px;
  text-align: center;
  
  
}

.mask{
  height: 800px;
  width: 800px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 50px;
  font-weight: 900;
}

.mask2{
  height: 800px;
  width: 800px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 50px;
  font-weight: 900;
  border-radius: 50px;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0);
  font-size: 25px;
  aspect-ratio: 1/1;
  border: 2px solid white;
  cursor: pointer;
  background-color: #404eed;
}

.easy.square{
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.medium.square{
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.hard.square{
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.activeSquare{
  color: white;
  background-color: green;
}

.square.bomb{
  
}

.square.bomb.explode{
  background-color: red;
  font-size: 40px;
  color: white;
}

.square span{
  display: none;
}

.square.activeSquare span{
  display: block;
}

#start-playing{
  color: white;
  margin: 0 50px;
  font-size: 70px;
  font-weight: 900;
}

.container .square.provabomb{
  background-color: green;
}